.container {
  margin: 2rem 0;
  display: flex;
  align-items: center;
}

.imgSocial {
  text-align: center;
  margin-right: 2rem;
}

.img {
  border-radius: 100%;
  max-height: 100px;
  width: 100px;
}

.info {
  p {
    text-align: justify;
  }
}

.social {
  display: flex;
  a {
    font-size: 3rem;
    margin-right: 1rem;
  }
}
