h1 {
  margin-bottom: 3rem;
}

.project {
  margin: 2rem;
  padding-left: 1rem;
}

.link {
  text-decoration: none;
  color: #9966cc;
}

.link:hover {
  text-decoration: underline;
}

.images {
  display: flex;
  margin: 0 1rem;
  justify-content: space-between;
}

.erickImages {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  align-items: center;
  justify-content: space-between;
}
